[submodule "CompSys/compsys"]
	path = CompSys/compsys
	url = https://github.com/Cavtheman/compsys.git
[submodule "datsci/--force"]
	path = datsci/--force
	url = https://github.com/emilliegiraf/DATSCI.git
[submodule "datsci/DATSCI"]
	path = datsci/DATSCI
	url = https://github.com/emilliegiraf/DATSCI.git
[submodule "AD"]
	path = AD
	url = https://github.com/emilliegiraf/AD.git
[submodule "rad"]
	path = rad
	url = https://github.com/Cavtheman/rad.git
[submodule "REX"]
	path = REX
	url = https://github.com/emilliegiraf/REX.git
[submodule "nanoneedles"]
	path = nanoneedles
	url = https://github.com/Cavtheman/nanoneedles.git
[submodule "rebs"]
	path = rebs
	url = https://github.com/Cavtheman/rebs.git
[submodule "datsciinst"]
	path = datsciinst
	url = https://github.com/Cavtheman/datsciinst.git
[submodule "datsci/datsci"]
	path = datsci/datsci
	url = https://github.com/emilliegiraf/datsci.git
[submodule "proteinbachelor"]
	path = proteinbachelor
	url = https://github.com/Cavtheman/proteinbachelor.git
[submodule "eml"]
	path = eml
	url = https://github.com/Cavtheman/eml.git
[submodule "ap"]
	path = ap
	url = https://github.com/Cavtheman/ap.git
[submodule "aads"]
	path = aads
	url = https://github.com/madsobitsoe/AADS2020.git
[submodule "popinst20"]
	path = popinst20
	url = https://github.com/Cavtheman/popinst20.git
[submodule "ml"]
	path = ml
	url = https://github.com/Cavtheman/ml.git
[submodule "degridifier"]
	path = degridifier
	url = https://github.com/Cavtheman/degridifier.git
[submodule "datvid"]
	path = datvid
	url = git@github.com:Cavtheman/datvid.git
[submodule "vtdat"]
	path = vtdat
	url = git@github.com:Cavtheman/vtdat.git
[submodule "popinst21"]
	path = popinst21
	url = git@github.com:Cavtheman/popinst21.git
