[submodule "CompSys/compsys"]
	path = CompSys/compsys
	url = https://github.com/Cavtheman/compsys.git
[submodule "datsci/--force"]
	path = datsci/--force
	url = https://github.com/emilliegiraf/DATSCI.git
[submodule "datsci/DATSCI"]
	path = datsci/DATSCI
	url = https://github.com/emilliegiraf/DATSCI.git
[submodule "AD"]
	path = AD
	url = https://github.com/emilliegiraf/AD.git
