[submodule "CompSys/compsys"]
	path = CompSys/compsys
	url = https://github.com/Cavtheman/compsys.git
[submodule "datsci/--force"]
	path = datsci/--force
	url = https://github.com/emilliegiraf/DATSCI.git
[submodule "datsci/DATSCI"]
	path = datsci/DATSCI
	url = https://github.com/emilliegiraf/DATSCI.git
[submodule "AD"]
	path = AD
	url = https://github.com/emilliegiraf/AD.git
[submodule "rad"]
	path = rad
	url = https://github.com/Cavtheman/rad.git
[submodule "REX"]
	path = REX
	url = https://github.com/emilliegiraf/REX.git
[submodule "nanoneedles"]
	path = nanoneedles
	url = https://github.com/Cavtheman/nanoneedles.git
[submodule "rebs"]
	path = rebs
	url = https://github.com/Cavtheman/rebs.git
[submodule "datsciinst"]
	path = datsciinst
	url = https://github.com/Cavtheman/datsciinst.git
[submodule "datsci/datsci"]
	path = datsci/datsci
	url = https://github.com/emilliegiraf/datsci.git
[submodule "proteinbachelor"]
	path = proteinbachelor
	url = https://github.com/Cavtheman/proteinbachelor.git
[submodule "eml"]
	path = eml
	url = https://github.com/Cavtheman/eml.git
[submodule "ap"]
	path = ap
	url = https://github.com/Cavtheman/ap.git
[submodule "aads"]
	path = aads
	url = https://github.com/madsobitsoe/AADS2020.git
[submodule "popinst20"]
	path = popinst20
	url = https://github.com/Cavtheman/popinst20.git
[submodule "ml"]
	path = ml
	url = https://github.com/Cavtheman/ml.git
[submodule "degridifier"]
	path = degridifier
	url = https://github.com/Cavtheman/degridifier.git
[submodule "datvid"]
	path = datvid
	url = git@github.com:Cavtheman/datvid.git
[submodule "vtdat"]
	path = vtdat
	url = git@github.com:Cavtheman/vtdat.git
[submodule "popinst21"]
	path = popinst21
	url = git@github.com:Cavtheman/popinst21.git
[submodule "ap21"]
	path = ap21
	url = git@github.com:Cavtheman/ap21.git
[submodule "ap2021-ass6"]
	path = ap2021-ass6
	url = git@github.com:madsobitsoe/ap2021-ass6.git
[submodule "acs"]
	path = acs
	url = git@github.com:Cavtheman/acs.git
[submodule "aoc21"]
	path = aoc21
	url = git@github.com:Cavtheman/aoc21.git
[submodule "emlta"]
	path = emlta
	url = git@github.com:Cavtheman/emlta.git
[submodule "sip"]
	path = sip
	url = git@github.com:Cavtheman/sip.git
[submodule "numop"]
	path = numop
	url = git@github.com:Cavtheman/numop.git
[submodule "nir"]
	path = nir
	url = git@github.com:Cavtheman/nir.git
[submodule "orel"]
	path = orel
	url = git@github.com:Cavtheman/orel.git
[submodule "mia"]
	path = mia
	url = git@github.com:Cavtheman/mia.git
[submodule "nlp"]
	path = nlp
	url = git@github.com:Cavtheman/nlp.git
[submodule "aoc22"]
	path = aoc22
	url = git@github.com:Cavtheman/aoc22.git
[submodule "vip"]
	path = vip
	url = git@github.com:Cavtheman/vip.git
[submodule "orel23"]
	path = orel23
	url = git@github.com:Cavtheman/orel23.git
[submodule "pml"]
	path = pml
	url = git@github.com:Cavtheman/pml.git
[submodule "ad"]
	path = ad
	url = git@github.com:milikko/ad.git
[submodule "nir23"]
	path = nir23
	url = git@github.com:Cavtheman/nir23.git
[submodule "adl"]
	path = adl
	url = git@github.com:Cavtheman/adl.git
